In [2]:
import pandas as pd
import numpy as np
import mysql.connector

In [ ]:
#Loading cleaned csv files
Customer_data = pd.read_csv("C:\\Users\\haris\\Downloads\\Customers_cleaned.csv")
Exchange_rate = pd.read_csv("C:\\Users\\haris\\Downloads\\Exchange_Rates.csv")
Products_data = pd.read_csv("C:\\Users\\haris\\Downloads\\Products_cleaned.csv")
Sales_data = pd.read_csv("C:\\Users\\haris\\Downloads\\Sales_cleaned.csv")
Stores_data = pd.read_csv("C:\\Users\\haris\\Downloads\\Stores_cleaned.csv")
product_sales_data = pd.read_csv("C:\\Users\\haris\\Downloads\\Products_Sales.csv")
customer_sales_product_stores_data = pd.read_csv("C:\\Users\\haris\\Downloads\\Customer_Sales_Products_Stores.csv")

In [6]:
#creating sql connection
conn = mysql.connector.connect(host='localhost', user='root', password='simi', port=3306)
cursor = conn.cursor()
cursor.execute("CREATE DATABASE IF NOT EXISTS dataspark")
cursor.execute("USE dataspark")

In [37]:



# Creating table for Customers data
cursor.execute('''CREATE TABLE IF NOT EXISTS Customerdata(CustomerKey INT PRIMARY KEY,
               Gender VARCHAR(10),
               Name varchar(50),
               City varchar(100),
               State_Code varchar(50),
               State varchar(100),
               Zip_Code VARCHAR(10),
               Country varchar(100),
               Continent varchar(100),
               Birthday DATE)''')

In [39]:


# Convert dataframe to list of lists
data = Customer_data.values.tolist()
# Insert data into MySQL
insert_query = '''INSERT INTO Customerdata(CustomerKey, Gender, Name, City, State_Code, State, Zip_Code, Country, Continent, Birthday) 
                  VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)'''
cursor.executemany(insert_query, data)
conn.commit()

print("Customer data inserted successfully")

Customer data inserted successfully

In [63]:
#creating table for Exchange rate
cursor.execute('''CREATE TABLE IF NOT EXISTS ExchangeRate(Date DATE,
                Currency VARCHAR(10),
               Rate FLOAT)''')

In [67]:


# Inserting values into table
data = Exchange_rate.values.tolist()
insert_query = '''INSERT INTO ExchangeRate(Date, Currency, Rate) 
                  VALUES (%s, %s, %s)'''
cursor.executemany(insert_query, data)
conn.commit()

print("Exchange rate data inserted successfully")

Exchange rate data inserted successfully

In [8]:
#creating table for Products data
cursor.execute('''CREATE TABLE IF NOT EXISTS Productdetail(ProductKey INT PRIMARY KEY,
               Product_Name VARCHAR(100),
               Brand VARCHAR(100),
               Color VARCHAR(100),
               Unit_Cost_USD Float,
               Unit_Price_USD Float,
               Subcategorykey VARCHAR(100),
               Subcategory VARCHAR(100),
               CategoryKey VARCHAR(100),
               Category VARCHAR(100))''')
print("Table created successfully")

Table created successfully

In [137]:
# Clean the 'Unit Price USD' column by removing dollar signs and extra spaces
Products_data['Unit Price USD'] = Products_data['Unit Price USD'].replace('[\$,]', '', regex=True).astype(float)

# Inserting values into table
data = Products_data.values.tolist()
insert_query = '''INSERT INTO Productdetail(ProductKey, Product_Name, Brand, Color, Unit_Cost_USD, Unit_Price_USD, Subcategorykey, Subcategory, CategoryKey, Category) 
                  VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s)'''
cursor.executemany(insert_query, data)
conn.commit()
print("Product data inserted successfully")

Product data inserted successfully

In [9]:
#Creating table for Sales data
cursor.execute('''CREATE TABLE IF NOT EXISTS Sales_data1(Order_Number INT,
               Line_Item INT,
               Order_Date VARCHAR(100),
               CustomerKey INT Primary Key,
               StoreKey INT,
               ProductKey INT primary key,
               Quantity INT,
               Currency_Code VARCHAR(10))''')

In [123]:
# Inserting values into table
data = Sales_data.values.tolist()
insert_query = '''INSERT INTO Salesdata1(Order_Number, Line_Item, Order_Date, CustomerKey, StoreKey, ProductKey, Quantity, Currency_Code) 
                  VALUES (%s, %s, %s, %s, %s, %s, %s, %s)'''
cursor.executemany(insert_query, data)
conn.commit()

print("Sales data inserted successfully")

Sales data inserted successfully

In [10]:
#Creating table for Stores data
cursor.execute('''CREATE TABLE IF NOT EXISTS Storedata1(StoreKey INT primary key,
               Country VARCHAR(100),
               State VARCHAR(100),
               Square_Meters Float,
               Open_Date VarChar(100))''')

print("Table created successfully")

Table created successfully

In [140]:
#Inserting values into table
data = Stores_data.values.tolist()
insert_query = '''INSERT INTO Storedata1(StoreKey, Country, State, Square_Meters, Open_Date) 
                  VALUES (%s, %s, %s, %s, %s)'''
cursor.executemany(insert_query, data)
conn.commit()

print("Stores data inserted successfully")

Stores data inserted successfully

In [22]:
#Creating table for product sales data
cursor.execute('''CREATE TABLE IF NOT EXISTS ProductSalesdata1(
               ProductKey INT,

               ProductName VARCHAR(100),
               Brand VARCHAR(100),
               Color VARCHAR(100),
               Unit_Cost_USD FLOAT,
               Unit_Price_USD FLOAT,
               Subcategorykey VARCHAR(100),
               Subcategory VARCHAR(100),
               CategoryKey VARCHAR(100),
               Category VARCHAR(100),
               Order_Number INT,
               Line_Item INT,
               Order_Date VARCHAR(100),
               CustomerKey INT,
               StoreKey INT,
               Quantity INT,
               Currency_Code VARCHAR(10),
               PRIMARY KEY (Productkey, CustomerKey, StoreKey))''')
               
print("Table created successfully")

Table created successfully

In [25]:
# Inserting values into table
data = product_sales_data.values.tolist()
insert_query = '''INSERT IGNORE INTO ProductSalesdata1(ProductKey, ProductName, Brand, Color, Unit_Cost_USD, Unit_Price_USD, Subcategorykey, Subcategory, CategoryKey, Category, Order_Number, Line_Item, Order_Date, CustomerKey, StoreKey, Quantity, Currency_Code) 
                  VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)'''
cursor.executemany(insert_query, data)
conn.commit()

print("Product sales data inserted successfully")

Product sales data inserted successfully

In [7]:
conn.close()